.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: end;
}
.grid > div {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
.grid > article img {
    max-width: 100%;
}
.card-content {
    padding: 0 20px 20px;
}
.card-content > button {
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
}

.bulb {
    display : block;
    margin : auto;
    height: 200px;
    width: 100%;
    align-content: center;
}

#wrapper
{
    text-align:center;
    margin:0 auto;
    padding:0px;
    width:995px;
}

.leftcurtain
{
    width:50%;
    height: 200px;
}
.rightcurtain
{
    width:50%;
    height: 200px;
    float: right;

}

.addDeviceButton
{
    height: 50px;
    width: 50px;
    float: right;
}

.termostat {
    margin-top: 0;
    margin-bottom: 1px;
    height: 200px;
    line-height:200px;
    font-size: 16px;
    font-size: 6vw;
    text-align: center;
    vertical-align: middle;


}

.btntermostat {
    width: 45%;
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
}